    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/>
              <br/>
              <h2>About B47 Labs</h2>
              <br/>
              <p>At B47 Labs, we offer top-notch web development services to help your business thrive in the digital landscape. Our team
of skilled developers specializes in creating custom websites that are not only visually appealing but also
user-friendly and fully responsive.</p>
              <br/>
            </div>
        </div>
    </section>
